body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Pacifico', cursive;
  color: white;
}
.main-header{
  background-color: black;
  height: 100px;
  padding: 10px 20px 10px 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-header h2{
  font-size: 2em;
  width: 100%;
}
main{
  min-height: calc(100vh - 120px);
  width: 100%;
  background: rgb(1,0,85);
  background: linear-gradient(180deg, rgba(1,0,85,1) 15%, rgba(163,0,88,1) 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  float: left;
}
.filter{
  display: none;
  height: 30px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #a30058;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  justify-content: center;
  font-family: 'Itim', cursive;
  font-size: 1.2em;
  color: white;
}
.filter-list-off{
  display: none;
}
.search{
  background-color: #a30058;
  font-family: 'Itim', cursive;
  margin: 0;
  padding: 0 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 3px 0 0 3px;
  color: white;
  outline: none;
}
.search::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(/assets/cancel.png);
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
}
.search-btn{
  background-color: #a30058;
  padding: 0px;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  border-radius: 0 3px 3px 0 ;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
  color: white;
  margin-right: 10px;
  position: relative;
  transition: background-color .3s ease-in-out, transform .1s;
  -moz-transition: background-color .3s ease-in-out, transform .1s;
  -webkit-transition: background-color .3s ease-in-out, transform .1s;
  -o-transition: background-color .3s ease-in-out, transform .1s;
}
.search-btn img{
  padding: 3px;
  transition: transform .3s;
  -moz-transition: transform .3s;
  -webkit-transition: transform .3s;
  -o-transition: transform .3s;
}
.search-btn:hover{
  background-color: #70003d;
}
.search-btn img:active{
  transform: rotate(360deg);
}
.container{
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-backdrop-off{
  display: none;
}
.modal-backdrop-on{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(60%);
  -webkit-backdrop-filter: brightness(60%);
}
.modal{
  display: inherit;
  font-family: 'Itim', cursive;
  flex-direction: column;
  background-color: black;
  border-radius: 15px;
  width: 60%;
  padding: 20px 20px 20px 20px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal label{
  padding-bottom: 5px;
  color: white;
}
.modal input[type="text"]{
  font-family: 'Itim', cursive;
  font-size: 1.2em;
  background-color: #a30058;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  padding: 5px;
  margin: 0 0 10px 0;
}
.modal input[type="text"]::placeholder{
  color: white;
  opacity: 0.5;
}
.radio-box{
    display: block;
}
.modal-button-box{
  text-align: right;
}
#add-task,
#accept,
#decline{
  font-family: 'Itim', cursive;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #a30058;
  height: 50px;
  min-width: 100px;
  position: relative;
  transition: background-color .3s ease-in-out, transform .1s;
  -moz-transition: background-color .3s ease-in-out, transform .1s;
  -webkit-transition: background-color .3s ease-in-out, transform .1s;
  -o-transition: background-color .3s ease-in-out, transform .1s;
}
#decline{
  background-color: black;
}
#add-task:active,
#accept:active,
#decline:active{
  transform: translate(0, 2px);
}
#add-task:hover,
#accept:hover{
  background-color: #70003d;
}
#decline:hover{
  background-color: #a30058;
}
.task-list{
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.task-div{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  transition: transform .5s cubic-bezier(0.24,-0.28, 1, 0.24);
}
.task-div-deleted{
  transform: scale(0);
}
.type-badge-div{
  background-color: #a30058;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  float: left;
}
.task-text-div{
  padding: 10px 5px;
}
.task-text-div p{
  font-family: 'Itim', cursive;
  word-wrap: break-word;
  font-size: 1.2em;
  margin: 0;
}
.type-badge-div p{
  font-family: 'Itim', cursive;  
  font-size: 1.2em;
  margin: 0;
  color: white;
  text-transform: capitalize;
}
.task-button-box{
  height: 25px;
  display: flex;
  flex-direction: row;
}

.task-btn{
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
  transition: transform .1s ease-in-out;
  -moz-transition: transform .1s ease-in-out;
  -webkit-transition: transform .1s ease-in-out;
  -o-transition: transform .1s ease-in-out;
}
.done-task-btn{
  background-image: url('assets/checked_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.delete-task-btn{
  background-image: url('assets/delete_bin_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.task-btn:active{
  transform: scale(1.1);
}

@media only screen
    and (min-width: 300px)
    and (max-width: 730px){
      .modal label{
        width: fit-content;
      }
      .radio-box{
        display: grid;
        grid-template-columns: 25px auto;
      }
      .task-div{
        width: fit-content;
      }
      .search{
        display: none;
      }
      .search-btn{
        display: none;
      }
      .filter{
        display: inline-block;
        text-decoration: none;
        padding: 2px 0;
        height: 100%;
        width: 100%;
      }
      .filter-list-off{
        display: flex;
        flex-direction: column;
        background-color: #70003d;
        overflow: hidden;
        line-height: 100px;
        height: 0;
        transition: all .5s ease-in-out;
      }
      .filter-list-on{
        height: 51px;
        padding: 5px;
      }
      .filter-search{
        font-family: 'Itim', cursive;
        background-color: #a30058;
        font-family: 'Itim', cursive;
        font-size: 1.2em;
        color: white;
        outline: none;
        margin: 0;
        padding: 0 5px;
        border: none;
        border-radius: 3px;
      }
      .filter-search-btn{
        font-family: 'Itim', cursive;
        font-size: 1.2em;
        color: white;
        background-color: #a30058;
        padding: 0px;
        width: auto;
        height: auto;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        margin-top: 5px;
        position: relative;
        transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
      }
      input[type="search"]::placeholder{
        text-align: center;
        color: white;
        opacity: 0.5;
      }
      .filter-search-btn:active{
        transform: scale(.9);
      }
    }